html{

 /* From https://css.glass 
background: rgba(32, 159, 96, 0.7);
 border-radius: 16px; 
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
 border: 1px solid rgba(32, 159, 96, 1); */
}
.App {
   
 width:60vw;
 margin: 0 auto;
 border:1px solid green;
 margin-top:5vh;
}

.header{
border: 1px  red solid;
width:60vw;
margin: 0 auto;
display:flex;
align-items: center;
justify-content: space-between;
flex-direction: row;
align-content: space-between;
gap:20px;

/* From https://css.glass */
background: rgba(62, 163, 107, 0.71);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(237, 246, 241, 1);
}

.searchBarFlex{
    /* border: 1px  dodgerblue dashed; */
display: flex;

/*background-color: rgba(0, 0, 0, 0.514);
color: white;*/
border-radius: 5px;
gap:15px;

}

.resultsGrid{


    display:grid;
    grid-template-columns: 1fr 1fr;
}